version: "3.9"

services:
  loki:
    image: grafana/loki:3.0.0
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/loki.yaml
    volumes:
      - ./monitoring/loki/loki.yaml:/etc/loki/loki.yaml
      - loki-data:/loki

  promtail:
    image: grafana/promtail:3.0.0
    volumes:
      - ./monitoring/promtail/promtail.yaml:/etc/promtail/promtail.yaml:ro
      - ./:/project
    command: ["--config.file=/etc/promtail/promtail.yaml"]
    depends_on:
      - loki

  grafana:
    image: grafana/grafana:11.0.0
    ports:
      - "3000:3000"
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: admin
    volumes:
      - grafana-data:/var/lib/grafana
      - ./monitoring/grafana/provisioning:/etc/grafana/provisioning
      - ./monitoring/grafana/dashboards:/etc/grafana/dashboards
    depends_on:
      - loki

volumes:
  grafana-data:
  loki-data:
